* {
    box-sizing: border-box;
    margin: 0;
  }
  
h1{
  color: white;
  text-align: center;
  padding: 1vw;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

body {
  font-family: sans-serif;
	background: url(img-css/fondo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;

}

body::before{
	content:"";
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(135deg,navy,lightblue,navy,purple,pink,purple);
	opacity: 0.8;
	z-index: -1;
}

#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  grid-auto-rows: minmax(20vw, auto);
  gap: 2vw;
  padding: 1vw;
}
  
#galeria img {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  }
  
ul {
  border-radius: 1vw;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.2);
  list-style: none;
}

#img-activa {
  border-radius: 1vw;
  width: 100%;
}
  
#contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}
  
  
#contenedor-interno {
  background: rgba(255, 255, 255, 0.9);
  padding: 2vw;
  max-width: 90vw;
  min-height: 90vw;
  position: relative;
  display: flex;
  justify-content: center;
}
  
   /*Botones*/
  
button {
  border-radius: 1vw;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  color: red;
  font-weight: bold;
  font-size: 10vw;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-color: transparent;
}
  
#btn-cierra {
  top: 102%;
  left: 45%;
}
  
#btn-retrocede {
  top: 102%;
  left: 0%;
}
  
#btn-adelanta {
  top: 102%;
  right: 0%;
}

/*Orientacion Horizontal*/

@media (orientation: landscape) {

  #galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-auto-rows: minmax(20vw, auto);
    gap: 2vw;
    padding: 1vw;
  }

  #contenedor-interno {
    background: rgba(224, 224, 224, 0.7);
    padding: 1vw;
    max-width: 30vw;
    min-height: 30vw;
    position: relative;
    display: flex;
    justify-content: center;
  }

  button {
    font-size: 3vw;
  }
}

/*Medias Queries Tablets*/

/*Orientacion Vertical*/

@media only screen and (min-width: 712px) and (orientation: portrait) {

  #galeria {
      gap: 1.5vw;
      grid-template-columns: repeat(auto-fill, minmax(27vw, 1fr));
      grid-auto-rows: minmax(27vw, auto);
  }

  #contenedor-interno {
    background: rgba(224, 224, 224, 0.7);
    padding: 1.5vw;
    max-width: 70vw;
    min-height: 70vw;
    position: relative;
    display: flex;
    justify-content: center;
  }

  button {
    font-size: 6vw;
  }
}

/*Orientacion horizontal*/

@media only screen and (min-width: 1024px) and (orientation: landscape) {

  #galeria {
    gap: 1.5vw;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-auto-rows: minmax(20vw, auto);
}

  #contenedor-interno {
    background: rgba(255, 255, 255, 0.7);
    padding: 1vw;
    max-width: 45vw;
    min-height: 45vw;
    position: relative;
    display: flex;
    justify-content: center;
}

  button {
    font-size: 5vw;
  }
}